@charset "UTF-8";
/* CSS Document */

body
{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: rgb(255,247,225);
	box-sizing: border-box;
}

.topic
{
	color: rgb(255, 247, 225);
	height: 110px;
	text-align: center;
	transition:.5s;
	margin:0 10px 10px;
	padding-bottom: 40px;
}

.topic:hover {
	background-color: rgb(195, 98, 105);
}

.instruction
{
	position:absolute;
	width:100%;
	text-align: center;
	top:70%;
	background-color: rgba(45,23,14,0.7);
	color: rgb(255, 247, 225);
}

h1
{
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

h2
{
	position: relative;
	top:50%;
	transform: translateY(-50%);
}

#topic1
{
	background-color: rgb(41, 88, 75);
}


#topic2
{
	background-color: rgb(122,147,70);
}


#topic3
{
	background-color: rgb(188,200,50);
}

#topic4
{
	background-color: rgb(79,156,166);
}


#topic5
{
	background-color: rgb(122, 147, 70);
}


#topic6
{
	background-color: rgb(41, 88, 75);
}