@charset "UTF-8";
/* CSS Document */


body {
	line-height: 2.5em;
}

p i {
	font-size: 1em;
}

.item
{
	width: auto;
	height: 700px;
}

.item img
{
	position:absolute;
	width:100%;
	height:auto;
}

.img-fit {
	left:50%;
	max-width: 50%;
}

#audioSlide p
{
	font-size:1em;
	text-align: center;
}

.carousel-caption
{
	position: absolute;
	height: 100%;
	width: 50%;
	float:left;
	top:0;
	left:12px;
	overflow-x: auto;
}

.carousel-caption p
{
	text-align: justify;
	font-size: 1.5em;
	padding-left: 50px;
	padding-right: 50px;
}

.carousel-caption audio
{
	margin:40px 30px 0px;
}

.carousel-control
{
	top:70%;
	position: fixed;
	background-color: rgba(0,0,0,0);
}

.carousel-control.left
{
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}

.carousel-control.right
{
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}

.btn-default
{
	position:absolute;
	bottom:5px;
	right:20px;
	background-color:rgba(41, 88, 75, 0.7);
	text-decoration: none;
}

a {
	color:white;
}

.fit p
{
	font-size:1.25em;
}

.small-img {
	width:80%;
}

.smaller-img {
	width:95% !important;
	left:2%;
}

.scroll {
	position:absolute;
	background-color:rgba(41, 88, 75, 0.7);
	left:52%;
	width: 100px;
	height: 50px;
	z-index: 1;
	color:#FFF;
}

.scroll-down {
	top:70px;
}

.scroll-up {
	top: 10px;
}

.overflow-caption {
	padding-right: 100px;
	left:40%;
}

i {
	font-size: 24px;
	margin-right: 10px;
	top: 0px;
}

.carousel-control {
	opacity: 0.9;
}

.carousel-control.left {
	left:50%;
}